.head {
    padding: 0;
    width: 375px;
    height: 52px;
    top: 55px;
    padding: 16px 24px;

    left: calc(50% - 375px/2);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    position: absolute;

    font-size: 14px;
    font-weight: 500;
    color: #858FA3;
}

