.container {
    width: 375px;
    height: 56px;
    position: absolute;
    top: 0;
    bottom: 723px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #E6EAF1;
}

.logo {
    position: absolute;
    left: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #858FA3;
}

.menuIcon {
    position: absolute;
    width: 64px;
    height: 24px;
    right: 16px;
    top: 16px;  
}

.menuIcon {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    font-weight: bold;
    color: #858FA3;
}

.btn:active {
    color: #5F58C3;
}
