.botnav {
    position: absolute;
    width: 375px;
    height: 60px;
    left: 0px;
    top: 718px;
    border-top: 1px solid #E6EAF1;
    display: flex;
    justify-content: space-between;
    
}

.bg {
    width: 90px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.btn {
    width: 38px;
    height: 38px;
    color: #C4CBD8;
    background: none;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background: #5F58C3;
}