.botin {
    position: absolute;
    width: 375px;
    height: 34px;
    top: 778px;
    opacity: 40%;
}

.line {
    position: absolute;
    width: 134px;
    height: 5px;
    top: 21px;
    bottom: 8px;
    left: calc(50% - 134px/2 + 0.5px);
    border-radius: 100px;
    background: #96A7A9;
}